<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<!-- VOI ADAUGA CONNECTION STRING -->
	<!-- DataSource=locaia DB.  -->
	<!-- Inital Catalog= denumitrea DB.  -->
	<!-- Integrated Secutrity= "The "Network Service" user will authenticate as the machine for any remote connections." -->

	<!-- VARIANTA CU USER -->
	
	<!-- asta E CA LA CARTE SIO TREBUIE SA MEARGA -->
	<!--
	<connectionStrings>
		<add name="con" connectionString="Data Source=DESKTOP-11LNQBU\SQLEXPRESS;Initial Catalog=spital;
			 Integrated Security=False;User Id=user_spital;Password=proiect3;MultipleActiveResultSets=True" />
	</connectionStrings>
	-->

	<!-- VARIANTA FARA USER -->
	<!-- Pe statia veche -->
	<!--
	<connectionStrings>
		<add name="con" connectionString="Data Source=DESKTOP-11LNQBU\SQLEXPRESS;
	    Initial Catalog=spital;Integrated Security=true" />
	</connectionStrings>
	-->

	<!-- Pe statia noua -->
	<connectionStrings>
		<add name="con" connectionString="Data Source=localhost\SQLEXPRESS;
	    Initial Catalog=spital;Integrated Security=true" />
	</connectionStrings>
	
	
	
	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>